<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h3>{{title}}</h3>
        </div>
        <div class="col-md-6">
            <h5 class="text-score">
                {{resultados.dataPrimeiroJogo | date: 'dd/MM/yyyy'}} até
                {{resultados.dataUltimoJogo | date: 'dd/MM/yyyy'}}
            </h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 alert-content">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="alertMessage">
            {{alertMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="errorMessage">
            {{errorMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Jogos disputados</div>
            <div class="col-md-2 text-score">{{resultados.totalJogos}}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Total de pontos marcados na temporada</div>
            <div class="col-md-2 text-score">{{resultados.totalPontos}}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Média de pontos por jogo</div>
            <div class="col-md-2 text-score">
                {{resultados.mediaPontos.toFixed(2)}}
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Maior pontuação em um jogo</div>
            <div class="col-md-2 text-score">{{resultados.maiorPontuacao}}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Menor pontuação em um jogo</div>
            <div class="col-md-2 text-score">{{resultados.menorPontuacao}}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">
                Quantidade de vezes que bateu o próprio recorde
            </div>
            <div class="col-md-2 text-score">{{resultados.qtdRecorde}}</div>
        </div>
    </div>
</div>
<!-- <div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Data Jogo</th>
            <th>Qtd. Pontos</th>
        </tr>
        <tr ng-repeat="jogo in jogosBasquete">
            <td>{{jogo.idJogo}}</td>
            <td>{{jogo.dataJogo | date: 'dd/MM/yyyy'}}</td>
            <td>{{jogo.qtdPontos}}</td>
        </tr>
    </table>
</div> -->
