<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h3>{{title}}</h3>
        </div>
    </div>
</div>

<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Desconto</th>
        </tr>
        <tr ng-repeat="item in comandaItens">
            <td>{{item.id}}</td>
            <td>{{item.produtoDescricao}}</td>
            <td>{{item.quantidade}}</td>
            <td>{{item.preco}}</td>
            <td>{{item.desconto}}</td>
        </tr>
    </table>
</div>