<div class="page-header">
    <h3>Comanda <span class="text-primary">{{numeroComanda}}<span></h3>
</div>

<div ng-if="comandaItens.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Desconto</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in comandaItens">
                <td>{{item.produtoDescricao}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.produtoPreco | currency:'R$ '}}</td>
                <td>{{item.produtoDesconto | currency:'R$ '}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-warning" ng-click="limparComanda()">Limpar Comanda</button>
    <button type="button" class="btn btn-success" ng-click="finalizarComanda()">Finalizar Comanda</button>

</div>

<div ng-if="!comandaItens.length">
    <div class="alert alert-warning" role="alert">
        Comanda vazia!
    </div>
</div>